body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.galeria div {
    text-align: center;
}

.galeria img {
    width: 200px;     /* mismo ancho */
    height: 150px;    /* misma altura */
    object-fit: cover; /* recorta sin deformar */
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e9f1ff; /* azul claro */
    margin: 10px auto;
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border-left: 5px solid #007bff;
    font-weight: bold;
}

.formulario {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

input, textarea {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}